#Chapt-name{
    color: white;
    background-color:  #093d6e;
}
table{
    margin: auto;
    background-color: rgba(174, 43, 255, 0.2);
}
a{
    color: rgb(255, 86, 86);
}
.N-P{
    color: navy;
}
h3{
    color: rgb(0, 116, 15);
}
